<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户注册</title>

    <link rel="stylesheet" th:href="@{https://heerey525.github.io/layui-v2.4.3/layui-v2.4.4/css/layui.css}"/>
    <script th:src="@{https://heerey525.github.io/layui-v2.4.3/layui-v2.4.4/layui.js}"></script>
</head>
<body style="width: 100%;height: 100%;">
<div style="margin-top: 15%;">
    <div class="layui-main" style="width: 700px;">
        <h1 style="text-align: center">请输入注册信息</h1>
        <form class="layui-form layui-form-pane" id="registerForm" role="form">
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱：</label>
                <div class="layui-input-block">
                    <input id="email" type="email" name="email" class="layui-input" lay-verify="required" placeholder="请填写邮箱地址"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账号名：</label>
                <div class="layui-input-block">
                    <input id="name" type="text" name="name" class="layui-input" lay-verify="required" placeholder="请填写登录账号名"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-block">
                    <input id="pwd" type="password" name="password" class="layui-input" lay-verify="required" placeholder="请输入登录密码"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">验证码：</label>
                <div class="layui-input-block">
                    <input id="checkCode" type="text" name="checkCode" class="layui-input" lay-verify="required" placeholder="请输入六位验证码"/>
                    <div style="margin-top: 5%">
                        <button id="sendCheckCode" type="button" class="layui-btn layui-btn-normal">获取验证码</button>
                        <button id="register" type="button" class="layui-btn">确认注册</button>
                        <a th:href="@{/admin/user/login}">有账号？ 返回登录➜</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    /*<![CDATA[*/
    layui.use("form",function () {
            var form = layui.form;
            var $ = layui.$;

            //邮箱正则
            var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");

            $("#register").click(function () {
                var email = $('#registerForm #email').val();
                var name = $('#registerForm #name').val();
                var pwd = $('#registerForm #pwd').val();
                var inputCheckCode = $('#registerForm #checkCode').val();

                if (email == null || email == ""){
                    layer.msg("请输入邮箱");
                    return;
                }else if(!reg.test(email)){
                    layer.msg("请正确填写邮箱格式");
                    return;
                }
                if (name == null || name == ""){
                    layer.msg("请输入账号");
                    return;
                }
                if (pwd == null || pwd == ""){
                    layer.msg("请输入密码");
                    return;
                }
                if (inputCheckCode == null || inputCheckCode == ""){
                    layer.msg("请输入验证码");
                    return;
                }else if(inputCheckCode.length !=6 || parseInt(inputCheckCode)%1 !=0){
                    layer.msg("请正确输入验证码格式 ");
                    return;
                }
                var params = {name: name,email: email,pwd: pwd};
                if (inputCheckCode == checkCode){
                    $.ajax({
                        url:"/admin/user/register",
                        type:"POST",
                        data: params,
                        async:false,
                        success:function (result) {
                            if (result.code == 200){
                                layer.alert("注册成功",function () {
                                    window.location.href = "/admin/user/login";
                                });
                            }else{
                                layer.alert(result.msg);
                            }
                        }
                    });
                } else{
                    layer.msg("验证码输入错误");
                }
            });

            //验证码发送
            var checkCode = "";
            $("#sendCheckCode").click(function () {
                var email = $("#email").val();
                if (email == null || email == ""){
                    layer.msg("请输入邮箱！！！");
                    return;
                }
                var index = layer.open({
                    type:3,
                    content:"邮件发送中..."
                });

                $.ajax({
                    url:"/getCheckCode?email="+email,
                    type:"get",
                    success:function (text) {
                        if (text != null && text != ""){
                            layer.close(index);
                            layer.msg("已发送");
                            checkCode = text;
                            countDown();
                        } else{
                            layer.alert("获取失败，请重新获取")
                        }
                    }
                });
            });

            var maxTime = 60;
            function countDown(){
                if (maxTime == 0){
                    checkCode = "";
                    $("#sendCheckCode").removeClass("layui-btn-disabled");
                    $("#sendCheckCode").removeAttr("disabled")
                    $("#sendCheckCode").html("获取验证码");
                    maxTime = 60;
                }else{
                    $("#sendCheckCode").attr("disabled","disabled");
                    $("#sendCheckCode").addClass("layui-btn-disabled");
                    form.render();
                    $("#sendCheckCode").html(maxTime+"秒后重新获取");
                    maxTime--;
                    setTimeout(countDown,1000);
                }
            }
        });
    /*]]>*/
</script>
</body>

</html>
