<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment="pageAdminNav(pageShowEntity)">
    <div class="clearfix">
        <ul class="pagination m-b-5 pull-right">

            <li th:if="${!pageShowEntity.isFirstPage}">
                <a th:href="@{?current=1">
                    &nbsp;首页
                </a>
            </li>

            <li th:if="${pageShowEntity.hasPreviousPage}">
                <a th:href="@{'?current='+${pageShowEntity.prePage}}" aria-label="Previous">
                    <i class="fa fa-angle-left"></i>&nbsp;上一页
                </a>
            </li>

            <th:block th:each="nav : ${pageShowEntity.navigatepageNums}">
                <li th:class="${nav==pageShowEntity.pageNum}?'active':''"><a th:href="@{'?current='+${nav}}" th:text="${nav}"></a>
                </li>
            </th:block>

            <th:block th:if="${pageShowEntity.hasNextPage}">
                <li>
                    <a th:href="@{'?current='+${pageShowEntity.nextPage}}" aria-label="Next">
                        下一页&nbsp;<i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </th:block>

            <li th:if="${!pageShowEntity.isLastPage}">
                <a th:href="@{'?current='+${pageShowEntity.navigateLastPage}}">
                    &nbsp;末页
                </a>
            </li>

            <li><span th:text="'共'+${pageShowEntity.pages}+'页'"></span></li>
        </ul>
    </div>
</div>

</body>
</html>