<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment="pageAdminNav(pageShowEntity)">
    <div class="clearfix dropdown">
        <ul class="pagination m-b-5 pull-right">
            <li th:if="${!pageShowEntity.firstPage}">
                <a th:href="@{'?current='+${pageShowEntity.indexPage}}">
                    &nbsp;首页
                </a>
            </li>

            <li th:if="${pageShowEntity.hasPreviousPage}">
                <a th:href="@{'?current='+${pageShowEntity.prePage}}" aria-label="Previous">
                    <i class="fa fa-angle-left"></i>&nbsp;上一页
                </a>
            </li>

            <!-- 迭代生成页码 -->
            <th:block th:each="nav : ${pageShowEntity.navigatePageNumbers}">
                <li th:class="${nav==pageShowEntity.current}?'active':''"><a th:href="@{'?current='+${nav}}" th:text="${nav}"></a>
                </li>
            </th:block>

            <li th:if="${pageShowEntity.hasNextPage}">
                <a th:href="@{'?current='+${pageShowEntity.nextPage}}" aria-label="Next">
                    下一页&nbsp;<i class="fa fa-angle-right"></i>
                </a>
            </li>

            <li th:if="${!pageShowEntity.lastPage}">
                <a th:href="@{'?current='+${pageShowEntity.pageTotal}}">
                    &nbsp;末页
                </a>
            </li>

            <li><span th:text="'共'+${pageShowEntity.pageTotal}+'页'"></span></li>
        </ul>
    </div>
</div>
</body>
</html>