<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--========== The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags ==========-->
<title>文章详情</title>

<!--==========Dependency============-->
<link rel="stylesheet" href="/home/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/home/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/home/vendors/owl-carousel/assets/owl.carousel.css"/>
<link rel="stylesheet" href="/home/vendors/magnific-popup/magnific-popup.css"/>
<link rel="stylesheet" href="/home/vendors/flexslider/flexslider.css"/>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:500"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600,700italic"/>
<link href='https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,800,700' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic"/>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700italic,700,900,900italic' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'/>

<!--==========Theme Styles==========-->
<link href="/home/css/style.css" rel="stylesheet"/>
<link href="/home/css/theme/green.css" rel="stylesheet"/>

<!--========== HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries ==========-->
<!--========== WARNING: Respond.js doesn't work if you view the page via file:// ==========-->
<!--==========[if lt IE 9]>
    <script src="/home/js/html5shiv.min.js"></script>
    <script src="/home/js/respond.min.js"></script>
<![endif]==========-->
</head>
<body class="home">

<header class="row transparent white" data-spy="affix" data-offset-top="300" id="header">
    <div class="container">
        <div class="row top-header">
            <div class="col-sm-4 search-form-col">
                <div>
                    <h4>编程技术</h4>
                </div>
                <!--<form action="#" method="get" class="search-form">-->
                    <!--<div class="input-group">-->
                        <!--&lt;!&ndash;<a href="http://www.baidu.com" class="input-group-addon"><img src="/home/images/search-icon-dark.png" alt=""/></a>&ndash;&gt;-->
                        <!--<span class="input-group-addon"><img src="/home/images/search-icon-dark.png" alt=""/></span>-->
                        <!--<input type="search" class="form-control" placeholder="搜索"/>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
            <div class="col-sm-4 logo-col text-center">
                <h3 class="post-title" th:text="${article.title}"></h3>
            </div>
            <div class="col-sm-4 menu-trigger-col">
                <button class="menu-trigger black pull-right">
                    <span class="active-page">文章详情</span>
                    <img src="/home/images/menu-align-dark.png" alt="" class="icon-burger"/>
                    <img src="/home/images/menu-close-dark.png" alt="" class="icon-cross"/>
                </button>
            </div>
        </div>        
    </div>
    <div class="row menu-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 menu-col">
                    <div class="row">
                        <ul class="nav column-menu white-bg">
                            <h4>文章分类</h4>
                            <li><a href="about.html">自然科学</a></li>
                            <li><a href="about.html">编程技术</a></li>
                            <li><a href="about.html">历史军事</a></li>
                            <li><a href="about.html">文学艺术</a></li>
                            <li><a href="about.html">时事要闻</a></li>
                        </ul>
                        <ul class="nav column-menu white-bg">
                            <li><a href="contact.html">友情链接</a></li>
                            <li><a href="contact.html">新浪新闻</a></li>
                            <li><a href="about.html">腾讯新闻</a></li>
                            <li><a href="about.html">百度搜索</a></li>
                            <li><a href="about.html">环球网</a></li>
                        </ul>
                        <ul class="nav column-menu white-bg">
                            <li><a href="contact.html">联系我们</a></li>
                            <li><a href="contact.html">联系我们</a></li>
                            <li><a href="about.html">关于我们</a></li>
                            <li><a href="about.html">关于我们</a></li>
                            <li><a href="about.html">关于我们</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 subscribe-col">
                    <h5 class="widget-title">订阅我们的消息</h5>
                    <form action="#" method="post" class="form-inline subscribe-form">                    
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email"/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm"><span>发送</span></button>
                    </form>
                    <ul class="nav social-nav white">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="row content-wrap single-nosidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 single-post-contents">
                <article class="single-post-content v2 v2p1 row m0 post">
                    <header class="row">
                        <h2 class="post-title" th:text="${article.subtitle}"></h2>
                        <h5 class="post-meta">
                            By <a href="#" th:text="${article.authorName}"></a> | <a href="#" class="date" th:text="${common.formatDate(article.addTime)}"></a>
                        </h5>
                    </header>
                    <div class="featured-content row m0">
                        <a href="#"><img src="/home/images/featured-posts/3.jpg" alt=""/></a>
                    </div>
                    <div class="post-content row">
                        <div class="row m0">
                            <div class="col-sm-4 post-author-about">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"><img src="/home/images/wyz.jpg" alt="" class="img-circle"/></a>
                                    </div>
                                    <div class="media-body">
                                        <h3><a href="#" th:text="${article.authorName}"></a></h3>
                                        <h5>无人陪我共黄昏</h5>
                                        <ul class="nav social-nav white">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 作者简介 -->
                            <p>1995年3月生于江西南昌。主要写现代诗,散文,古诗词,赋文等。特长:摄影,编程等。座右铭:笔尖刻下倾世的温柔,总有人为你等候.</p>
                        </div>
                        <br/>
                        <div th:utext="${article.content}">
                        </div>
                        <!--<h3>春酥花艳的时候，山间的平原异彩纷呈，随风而来的花瓣则铺满了整个山谷，粉雾甚浓之处尤为如此。原本是孩子们嬉戏游玩的好去处，却如亘古宇宙般的静谧，没有莺啼燕扰，更没有孩童的踪影。</h3>-->
                        <!--<br/>-->
                        <!--<p>寡独的黄昏，幕着雾和雨，旷达天际也似溢光焕彩，拟出万丈流霞。坐在村口的大榕树下，听在悠闲下着棋的老人们说，那团粉色的雾中住着一位仙女，细眉，大眼，白皙的脸颊泛出朵朵桃红。</p>-->
                        <!--<br/>-->
                        <!--<blockquote class="has-sign row m0">                            -->
                            <!--<div>-->
                                <!--<p>相传很久以前，山下有户人家，阿云的父亲早逝，徒剩母子二人相依为命。阿云是一个沉默少言的青年，因为相貌一般又怕人耻笑，所以没有人愿意与他交往。母亲又卧病在床，阿云每天就靠替人打小工或在山里挖药材赚钱，直到现在。</p>-->
                                <!--<footer>OSHO</footer>-->
                            <!--</div>-->
                        <!--</blockquote>-->
                        <!--<h3>傍晚，下起了一场大雨，阿云慌忙跑进了草屋里。一只粉色的蝴蝶在门口吃力的飞着，阿云打开门，说道：“进来吧！大家都一样，同命呀！”</h3>-->
                        <!--<br/>-->
                        <!--<ul class="triangle-list nav">-->
                            <!--<li>蝴蝶飞了进来，第二天又走了。</li>-->
                            <!--<li>说也奇怪，自从这件事后阿云经常梦见一位粉衣姑娘。粉衣姑娘告诉阿云：“我叫粉蝶，如果你不嫌弃，我还会来的。”阿云点了点头说：“怎么会嫌弃，你来便是。”</li>-->
                        <!--</ul>-->
                        <!--<ul class="circle-list nav">-->
                            <!--<li>之后，阿云每天梦里都与粉蝶相会，每当伤心难过时粉蝶也会安慰他。粉蝶还说：“人应该有追求，是你的话一定会成功的。”</li>-->
                            <!--<li>阿云开始有了变化，做事更加勤奋，赚钱的点子也多了许多。众人怪之，想找到原因，但与阿云交往少，不好意思直问，只有暗中观察。</li>-->
                        <!--</ul>-->
                        <!--<br/>-->
                        <!--<blockquote class="no-sign">-->
                            <!--<p>晚上，待阿云回家之后，几个人就悄悄躲在草屋后。待灯灭时，阿云睡着，几个人才往房子内看。一只蝴蝶变成了粉衣姑娘，坐在阿云身旁。</p>-->
                        <!--</blockquote>-->
                        <!--<br/>-->
                        <!--<div class="row">-->
                            <!--<div class="col-sm-4">-->
                                <!--<p>-->
                                    <!--“妖孽。”几个人冲进去就将粉衣姑娘抓住绑走。阿云因为白天太累，睡得太死什么也不知道。-->
                                    <!--第二天粉衣姑娘被绑在树下，身旁堆满了材。阿云一眼就看出了那是粉蝶，向人们喊道：“住手。”几个男子将阿云按在了地上。-->
                                    <!--“我们是在救你，这是妖孽，迟早要害死你。”-->
                                <!--</p>-->
                            <!--</div>-->
                            <!--<div class="col-sm-4">-->
                                <!--<p>-->
                                    <!--“她是妖，恐怕你们才是吧！”-->
                                    <!--那几个男子抽了阿云一个大嘴巴，打的血也渗出来了。-->
                                    <!--火点燃了，粉蝶变成了蝴蝶的样子，粉蝶说：“阿云，再见了！请努力做好自己，我们来生再见吧，如果，那时，我轮回为人，你便娶我罢”粉蝶变成了灰烬，阿云的泪也停不下来。-->
                                <!--</p>-->
                            <!--</div>-->
                            <!--<div class="col-sm-4">-->
                                <!--<p>-->
                                    <!--后来，阿云将粉蝶的骨灰洒在了山间的泉井中，每当人们经过，总会看到袅袅升腾的粉色轻烟。-->
                                    <!--几年后参与了那场事的人得了怪病，长出了蝶的触角。阿云成了一个有本事的人，在那眼葬爱的泉井旁树了碑牌，写了“蝶仙”二字。-->
                                    <!--再后来，几世染云的粉雾便成了传说，那眼泉井也成为无人踏足的禁地。-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <br/>
                        <!--&lt;!&ndash; 此处播放视频 &ndash;&gt;-->
                        <!--<div class="embed-responsive embed-responsive-16by9">-->
                            <!--<iframe class="embed-responsive-item" src=""></iframe>-->
                        <!--</div>-->
                        <!--<br/>-->
                        
                        <!-- Place somewhere in the <body> of your page -->
                        <div class="thumbCarousel row m0">
                            <div id="slider" class="flexslider">
                                <ul class="slides">
                                    <li><img src="/home/images/posts/gallery/l1.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/l2.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/l3.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/l1.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/l2.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/l3.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/l1.jpg" alt=""/></li>
                                </ul>
                            </div>
                            <div id="carousel" class="flexslider">
                                <ul class="slides">
                                    <li><img src="/home/images/posts/gallery/s1.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/s2.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/s3.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/s1.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/s2.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/s3.jpg" alt=""/></li>
                                    <li><img src="/home/images/posts/gallery/s1.jpg" alt=""/></li>
                                </ul>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <div class="row m0 tags">
                        <a href="#" class="tag">编程技术</a>
                    </div>

                    <!--<ul class="pager">-->
                        <!--<li>-->
                            <!--<h4>Previous Articles</h4>-->
                            <!--<h2 class="post-title"><a href="single2.html">Nature, in the broadest sense, is the natural, physical...</a></h2>-->
                            <!--<h5 class="taxonomy pull-left"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<h4>Next Articles</h4>-->
                            <!--<h2 class="post-title"><a href="single2.html">Nature, in the broadest sense, is the natural, physical...</a></h2>-->
                            <!--<h5 class="taxonomy pull-left"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>-->
                        <!--</li>-->
                    <!--</ul>-->
                    
                    <div class="row m0 comments">                    
                        <h5 class="response-count">留言板<a href="#comment-form" class="btn btn-primary pull-right"><span>我要留言</span></a></h5>
                        <!--&lt;!&ndash;Comments&ndash;&gt;-->
                        <!--<div class="media comment">-->
                            <!--<div class="media-left">-->
                                <!--<a href="#"><img src="/home/images/posts/c1.jpg" alt="" class="img-circle"/></a>-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<h4><a href="#">Mark Sanders</a></h4>-->
                                <!--<h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>-->
                                <!--<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>                                -->
                                <!--&lt;!&ndash;Comments&ndash;&gt;-->
                                <!--<div class="media comment reply">-->
                                    <!--<div class="media-left">-->
                                        <!--<a href="#"><img src="/home/images/posts/c2.jpg" alt="" class="img-circle"/></a>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<h4><a href="#">Mark Sanders</a></h4>-->
                                        <!--<h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>-->
                                        <!--<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
                                        <!--&lt;!&ndash;Comments&ndash;&gt;-->
                                        <!--<div class="media comment reply">-->
                                            <!--<div class="media-left">-->
                                                <!--<a href="#"><img src="/home/images/posts/c1.jpg" alt="" class="img-circle"/></a>-->
                                            <!--</div>-->
                                            <!--<div class="media-body">-->
                                                <!--<h4><a href="#">Mark Sanders</a></h4>-->
                                                <!--<h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>-->
                                                <!--<p>Remaining essentially unchanged.</p>-->
                                                <!--&lt;!&ndash;Comments&ndash;&gt;-->
                                                <!--<div class="media comment reply">-->
                                                    <!--<div class="media-left">-->
                                                        <!--<a href="#"><img src="/home/images/posts/c2.jpg" alt="" class="img-circle"/></a>-->
                                                    <!--</div>-->
                                                    <!--<div class="media-body">-->
                                                        <!--<h4><a href="#">Mark Sanders</a></h4>-->
                                                        <!--<h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>-->
                                                        <!--<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                                                <!---->
                        <!--&lt;!&ndash;Comments&ndash;&gt;-->
                        <!--<div class="media comment">-->
                            <!--<div class="media-left">-->
                                <!--<a href="#"><img src="/home/images/posts/c1.jpg" alt="" class="img-circle"/></a>-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<h4><a href="#">Mark Sanders</a></h4>-->
                                <!--<h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>-->
                                <!--<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    </div>
                    <form action="#" method="post" class="comment-form row" id="comment-form">
                        <h4 class="form-title">在这里留言:</h4>
                        <div class="form-group col-sm-6">
                            <label for="name">姓名*</label>
                            <input type="text" id="name" class="form-control" placeholder="你的姓名" required="required"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="email">邮箱*</label>
                            <input type="email" id="email" class="form-control" placeholder="邮箱地址" required="required"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="website">网站</label>
                            <input type="url" id="website" class="form-control" placeholder="网站地址"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="subject">标题</label>
                            <input type="text" id="subject" class="form-control" placeholder="标题" required="required"/>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="message">留言内容</label>
                            <textarea name="message" id="message" class="form-control" placeholder="留言内容"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn-primary"><span>提交</span></button>
                            <h5 class="pull-right">*为必填项</h5>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<footer class="row" id="footer">
    <div class="container">
        <div class="row top-footer">
            <div class="widget col-sm-3 widget-about">
                <div class="row m0"><a href="index.html"><img src="/home/images/logo-black-green.png" alt=""/></a></div>
            </div>
            <div class="widget col-sm-5 widget-menu">
                <div class="row">
                    <ul class="nav column-menu white-bg">
                        <li class="active"><a href="index.html">首页</a></li>
                        <li><a href="about.html">关于我们</a></li>
                    </ul>
                    <ul class="nav column-menu white-bg">
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget col-sm-4 widget-subscribe">
                <h5 class="widget-title">订阅我们的消息</h5>
                <form action="#" method="post" class="form-inline subscribe-form">                    
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email"/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm"><span>发送</span></button>
                </form>
            </div>
        </div>
        <h5 class="copyright">Copyright &copy; 2018.Company name All rights reserved. <a href="http://www.cssmoban.com/" target="_blank" title="">QuJie</a> - Collect from <a href="http://www.cssmoban.com/" title="" target="_blank">瞿杰</a></h5>
    </div>
</footer>

<!--========== jQuery (necessary for Bootstrap's JavaScript plugins) ==========-->
<script src="/home/js/jquery-2.2.0.min.js"></script>
<script src="/home/js/bootstrap.min.js"></script>
<script src="/home/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/home/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/home/vendors/instafeed/instafeed.min.js"></script>
<script src="/home/vendors/imagesLoaded/imagesloaded.pkgd.min.js"></script>
<script src="/home/vendors/isotope/isotope.pkgd.min.js"></script>
<script src="/home/vendors/flexslider/jquery.flexslider-min.js"></script>
<script src="/home/js/theme.js"></script>
</body>
</html>
